* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.17) 0%, rgba(255, 255, 255, 0.76) 32.92%, rgba(255, 255, 255, 0.9) 59.51%, rgba(255, 255, 255, 0.87) 103.7%),  url("./assets/images/bg.jpg");
  backdrop-filter: blur(29px);
  background-size: 100%;
}

.wrapper {
  width: 1310px;
  min-height: 100vh;
  margin: 0 auto;
}

.header {
  margin-top: 76px;
  width: 69px;
  height: 65px;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.body__visual {
  width: 733px;
  position: relative;
  text-align: right;
  background: url("./assets/images/blue_ellipse.svg") top 141px left 200px no-repeat,
    url("./assets/images/green_ellipse.svg") top 156px left 295px no-repeat,
    url("./assets/images/pink_ellipse.svg") top 68px left 356px no-repeat;
}

.body__img {
  position: absolute;
  right: -80px;
}

.body__circle_blue {
  position: absolute;
  top: 0;
  left: 630px;
}

.body__circle_green {
  position: absolute;
  top: 360px;
  left: 120px;
}

.body__circle_pink {
  position: absolute;
  bottom: -90px;
  right: 15px;
}

.article {
  width: 559px;
  margin-top: 52px;
}

.article__title {
  font-size: 48px;
  line-height: 45px;
  font-weight: 700;
  color: #1F294A;
}

.article__list {
  margin-top: 52px;
  padding: 0 65px 0 25px;
}

.list__item {
  font-size: 24px;
  line-height: 31px;
  letter-spacing: -0.41px;
  font-weight: 500;
}

.article__footer {
  margin-top: 42px;
}

.article__btn {
  cursor: pointer;
}

.article__app-name {
  margin-top: 17px;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: -0.41px;
  color: rgba(31, 41, 74, 0.5);
}

.footer {
  margin-top: 170px;
  padding-bottom: 58px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__info {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: -0.41px;
  color: #1F294A;
}

.footer__logo {
  margin-right: 16px;
  cursor: pointer;
}

.footer__logo:last-child {
  margin-right: 0px;
}

@media (min-width: 1200px) and (max-width: 1380px) {
  .wrapper {
    width: 1160px;
  }
  .body__visual {
    width: 640px;
    background: url("./assets/images/blue_ellipse.svg") top 151px left 93px no-repeat,
      url("./assets/images/green_ellipse.svg") top 156px left 185px no-repeat,
      url("./assets/images/pink_ellipse.svg") top 68px left 226px no-repeat;
  }
  .body__img {
    right: -70px;
  }
  .body__circle_blue {
    top: 0;
    left: 550px;
  }
  .body__circle_green {
    top: 360px;
    left: 40px;
  }
  .body__circle_pink {
    bottom: -50px;
    right: 55px;
  }
  .article {
    width: 485px;
  }
  .footer {
    margin-top: 120px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .wrapper {
    width: 960px;
  }
  .body__visual {
    width: 520px;
    background: url("./assets/images/blue_ellipse.svg") top 140px left 90px/40% 40% no-repeat,
      url("./assets/images/green_ellipse.svg") top 130px left 140px/55% 55% no-repeat,
      url("./assets/images/pink_ellipse.svg") top 90px left 170px/45% 45% no-repeat;
  }
  .body__img {
    padding-top: 80px;
    right: 0;
  }
  .body__img>img {
    display: block;
    width: 100%;
  }
  .body__circle_blue {
    top: 40px;
    left: 380px;
  }
  .body__circle_green {
    top: 52%;
    left: 0;
  }
  .body__circle_pink {
    bottom: 100px;
    right: 40px;
  }
  .article {
    width: 410px;
  }
  .footer {
    margin-top: 70px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .wrapper {
    width: 720px;
  }
  .body {
    flex-direction: column;
    justify-content: center;
  }
  .body__visual {
    width: 100%;
    position: relative;
    background: url("./assets/images/blue_ellipse.svg") top 151px left 123px no-repeat,
      url("./assets/images/green_ellipse.svg") top 156px left 215px no-repeat,
      url("./assets/images/pink_ellipse.svg") top 68px left 256px no-repeat;
  }
  .body__img {
    position: static;
  }
  .body__circle_blue {
    position: absolute;
    top: 0;
    left: 520px;
  }
  .body__circle_green {
    position: absolute;
    top: 350px;
    left: 30px;
  }
  .body__circle_pink {
    bottom: -10px;
    right: 60px;
  }
  .article {
    width: 100%;
  }
  .footer {
    margin-top: 120px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .wrapper {
    width: 460px;
  }
  .header {
    margin-top: 30px;
  }
  .body {
    flex-direction: column;
    justify-content: center;
  }
  .body__visual {
    width: 100%;
    position: relative;
    background: url("./assets/images/blue_ellipse.svg") top 140px left 70px/35% 35% no-repeat,
      url("./assets/images/green_ellipse.svg") top 130px left 125px/55% 55% no-repeat,
      url("./assets/images/pink_ellipse.svg") top 80px left 170px/40% 40% no-repeat;
  }
  .body__img {
    width: 100%;
    position: static;
    margin-top: 40px;
  }
  .body__img>img {
    display: block;
    width: 100%;
  }
  .body__circle_blue {
    position: absolute;
    top: 10px;
    left: 380px;
  }
  .body__circle_green {
    position: absolute;
    top: 350px;
    left: 30px;
  }
  .body__circle_pink {
    bottom: -30px;
    right: 30px;
  }
  .article {
    width: 100%;
    margin-top: 30px;
  }
  .article__title {
    font-size: 40px;
    line-height: 36px;
  }
  .article__list {
    margin-top: 30px;
  }
  .list__item {
    font-size: 20px;
  }
  .article__footer {
    text-align: center;
  }
  .footer {
    margin-top: 70px;
    flex-direction: column;
    text-align: center;
    padding-bottom: 30px;
  }
  .footer__logos {
    margin-top: 30px;
  }
}

@media (min-width: 320px) and (max-width: 479px) {
  .wrapper {
    width: 300px;
  }
  .header {
    margin-top: 30px;
  }
  .body {
    flex-direction: column;
    justify-content: center;
  }
  .body__visual {
    width: 100%;
    position: relative;
    background: url("./assets/images/blue_ellipse.svg") top 110px left 50px/35% 35% no-repeat,
      url("./assets/images/green_ellipse.svg") top 100px left 90px/55% 55% no-repeat,
      url("./assets/images/pink_ellipse.svg") top 65px left 115px/40% 40% no-repeat;
  }
  .body__img {
    width: 100%;
    position: static;
    margin-top: 40px;
  }
  .body__img>img {
    display: block;
    width: 100%;
  }
  .body__circle_blue {
    position: absolute;
    top: 10px;
    left: 250px;
  }
  .body__circle_green {
    position: absolute;
    top: 230px;
    left: 10px;
  }
  .body__circle_pink {
    bottom: -30px;
    right: 30px;
  }
  .article {
    width: 100%;
    margin-top: 30px;
  }
  .article__title {
    font-size: 40px;
    line-height: 36px;
  }
  .article__list {
    margin-top: 30px;
  }
  .list__item {
    font-size: 20px;
  }
  .article__footer {
    text-align: center;
  }
  .footer {
    margin-top: 70px;
    flex-direction: column;
    text-align: center;
    padding-bottom: 30px;
  }
  .footer__info {
    font-size: 20px;
  }
  .footer__logos {
    margin-top: 30px;
  }
}